head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
  meta(name='apple-mobile-web-app-capable' content='yes')

  link(rel='stylesheet', href='/css/common.css')
  
  - if( pageInfo === 'index') {
    link(rel='stylesheet', href='/css/page_index.css')
  - }
  - else if( pageInfo === 'main') {
    link(rel='stylesheet', href='/css/page_main.css')
  - }
  - else if( pageInfo === 'profile') {
    link(rel='stylesheet', href='/css/page_profile.css')
  - }