nav.side-menu {
  position: absolute;
  width: 300px;
  left: -300px;
  top: 0;
}

nav.side-menu-opening {
  -webkit-animation-name: nav-opening;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease;
}

@keyframes nav-opening {
  from {
    left: -300px;
  }
  to {
    left: 0;
  }
}
