extends ../layouts/mobile

block content

  header
    .logo
      img.title(src='/images/commons/title.png')
  
  
  .login
    .login-cell
      label.email
      input(type='text', name='email', id='login-email')
    
    .login-cell
      label.password
      input(type='password', name='password', id='login-password')
    
    .login-cell
      a.login-btn 로그인
  
  
  .join
    .join-form-switch
      img.join-icon(src='/images/icons/icon-join.png')
    
    .join-form
      .join-form-cell
        label 이름
        input(type='text', name='name', id='join-name')
        
      .join-form-cell
        label 이메일
        input(type='text', name='email', id='join-email')
                
      .join-form-cell
        label 비밀번호
        input(type='password', name='password', id='join-password')
                
      .join-form-cell
        label 비밀번호 확인
        input(type='password', name='passwordVerify', id='join-password-verify')
      
      .join-form-submit 
        a.join-btn 완료